@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
  outline: none;
  overflow: hidden;
}

body {
  min-height: 100vh;
  background: #f1f1f1;
}

header {
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 255, 0.068);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  padding: 5px 0;
}

header .logo-wrap {
  margin-left: 30px;
}

header .logo-wrap img {
  width: 60px;
}

header .right h2 {
  font-size: 30px;
}

main {
  background: linear-gradient(
      135deg,
      rgba(0, 0, 5, 0.651),
      rgba(0, 0, 255, 0.253)
    ),
    url(./back.jpg);
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 10vh);
  display: flex;
  align-items: center;
}

main h1 {
  max-width: 700px;
  color: #fff;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.6;
  margin-left: 30px;
}

main h2 {
  max-width: 700px;
  color: #fff;
  font-weight: 600;
  font-size: 40px;
  margin-left: 30px;
  padding: 20px 0;
}

main p {
  max-width: 700px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.7;
  margin-left: 30px;
}

@media screen and (max-width: 430px) {
  header .logo-wrap {
    margin-left: 5px;
  }
  header .right h2 {
    font-size: 16px;
    font-weight: 600;
    color: rgb(2, 2, 24);
  }
}
